<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Otro Archivo</title>
</head>
<body>
  <h1>Otro Archivo</h1>
  <form action="/menu" method="GET">
    <button type="submit">Volver al Menú</button>
  </form>
</body>
</html>